{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/data-storage/printing" method="post">

        <p>In this section, clearing refers to deleting all non-important emails/files</p>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "clearEmailFrequency",
          value: data['clearEmailFrequency'],
          fieldset: {
            legend: {
              text: "How often do you clear your emails?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "36",
              text: "Never"
            },
            {
              value: "12",
              text: "Yearly"
            },
            {
              value: "3",
              text: "Quarterly"
            },
            {
              value: "1",
              text: "Monthly"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "clearOneDriveFrequency",
          value: data['clearOneDriveFrequency'],
          fieldset: {
            legend: {
              text: "How often do you clear your OneDrive files?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "36",
              text: "Never"
            },
            {
              value: "12",
              text: "Yearly"
            },
            {
              value: "3",
              text: "Quarterly"
            },
            {
              value: "1",
              text: "Monthly"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
