{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/travel/commuting" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <h1 class="govuk-heading-l">Storing data</h1>

        {{ govukRadios({
          name: "printingFrequency",
          value: data['printingFrequency'],
          fieldset: {
            legend: {
              text: "How many pages do you print in a week?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "0",
              text: "None"
            },
            {
              value: "15",
              text: "1 to 30"
            },
            {
              value: "45",
              text: "31 to 60"
            },
            {
              value: "80",
              text: "61 to 100"
            },
            {
              value: "120",
              text: "More than 100"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
