{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/travel/travel-intro" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "printingFrequency",
          value: data['printingFrequency'],
          fieldset: {
            legend: {
              text: "How many pages do you print per week?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "0",
              text: "None"
            },
            {
              value: "15",
              text: "0-30"
            },
            {
              value: "45",
              text: "30-60"
            },
            {
              value: "80",
              text: "60-100"
            },
            {
              value: "120",
              text: "100+"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
