{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="/devices/desktop" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}



        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set otherLaptopHtml %}
        {{ govukInput({
          id: "other-laptop",
          name: "otherLaptop",
          type: "laptop",
          autocomplete: "laptop",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Laptop type"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "laptop-type",
          value: data['laptop-type'],
          fieldset: {
            legend: {
              text: "What type of laptop do you use for work?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "windows",
              text: "Windows Device"
            },
            {
              value: "macbook",
              text: "Macbook"
            },
            {
              value: "noLaptop",
              text: "I don't use a laptop"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
