{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="/devices/smartphone" method="post">

        <h1 class="govuk-heading-l">Devices</h1>

        {% from "govuk/components/input/macro.njk" import govukInput %}


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          id: "number-of-monitors",
          name: "numberOfMonitors",
          value: data['numberOfMonitors'],
          fieldset: {
            legend: {
              text: "How many computer monitors do you use for work?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }     
          },
          hint: {
            text: "A laptop screen is not classed as a computer monitor"
          },
          items: [
            {
              value: "0",
              text: "0"
            },
            {
              value: "1",
              text: "1"
            },
            {
              value: "2",
              text: "2"
            },
            {
              value: "3",
              text: "3"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
