{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/messaging/email-attachments" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <h1 class="govuk-heading-l">Emails</h1>

        {{ govukRadios({
          name: "howManyEmails",
          value: data['howManyEmails'],
          fieldset: {
            legend: {
              text: "How many work emails do you send a week?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "0",
              text: "None"
            },
            {
              value: "10",
              text: "1 to 19"
            },
            {
              value: "35",
              text: "20 to 49"
            },
            {
              value: "75",
              text: "50 to 100"
            },
            {
              value: "125",
              text: "More than 100"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
