{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/data-storage/cloud-storage" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        <h1 class="govuk-heading-l">Microsoft Teams</h1>

        {{ govukRadios({
          name: "how-many-teams-messages",
          value: data['how-many-teams-messages'],
          fieldset: {
            legend: {
              text: "How many Microsoft Teams messages do you send in a week?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "25",
              text: "0 to 49"
            },
            {
              value: "75",
              text: "50 to 99"
            },
            {
              value: "125",
              text: "100 to 149"
            },
            {
              value: "175",
              text: "More than 150"
            }
          ]
        }) }}


        {{ govukRadios({
          name: "how-many-teams-hours",
          value: data['how-many-teams-hours'],
          fieldset: {
            legend: {
              text: "How many hours do you spend in Teams calls per week?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "2.5",
              text: "0 to 5"
            },
            {
              value: "7.5",
              text: "6 to 10"
            },
            {
              value: "12.5",
              text: "11 to 15"
            },
            {
              value: "17.5",
              text: "More than 15"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "teamsCameraOn",
          value: data['teamsCameraOn'],
          fieldset: {
            legend: {
              text: "Do you often have your camera on? (more than 50% of the time)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: cameraHtml
              }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: cameraHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
