{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Commuting</h1>

      <form class="form" name="commuteForm" action="/travel/commuting/commute-frequency" method="post">


        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "How far do you travel? (in miles, one way)",
            classes: "govuk-fieldset__legend--m"
          },
          hint: {
            text: "Please input a whole number"
          },
          classes: "govuk-input--width-10",
          id: "commute-distance",
          name: "commuteDistance",
          value: data['commuteDistance'],
          inputmode: "numeric",
          spellcheck: false
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
