{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Commuting</h1>

      <form class="form" action="/check-car-share" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}


        {{ govukRadios({
          name: "returnCommuteType",
          value: data['returnCommuteType'],
          fieldset: {
            legend: {
              text: "How do you return from work?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "walking",
              text: "Walk/wheeling/self-propelled"
            },
            {
              value: "bike",
              text: "Bike"
            },
            {
              value: "bus",
              text: "Bus"
            },
            {
              value: "train",
              text: "Train"
            },
            {
              value: "car share",
              text: "Car Share"
            },
            {
              value: "tram/tube",
              text: "Tram or Tube"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
