{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Business travel</h1>

      <form class="form" action="/check-car-type" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}


        {{ govukInput({
          label: {
            text: "How far do you travel in miles?",
            classes: "govuk-fieldset__legend--m"
          },
          hint: {
            text: "One way, on an average journey. Must be a whole number"
          },
          classes: "govuk-input--width-10",
          name: "businessTravelDistance",
          id: "businessTravelDistance",
          value: data['businessTravelDistance'],
          inputmode: "numeric",
          spellcheck: false
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

